# Database
POSTGRES_USER=hyperion
POSTGRES_PASSWORD=hyperion_dev
POSTGRES_DB=hyperion_onms

# App
SECRET_KEY=change-this-to-a-long-random-string-in-production
ENVIRONMENT=development

# (Future) Email, Wazuh, etc.
# SMTP_HOST=
# WAZUH_WEBHOOK=
